@"
Desh07 <desh0sevn@gmail.com> Deshanth Vishvalingam <96284414+Desh07@users.noreply.github.com>
Desh07 <desh0sevn@gmail.com> Sharoobini <Sharoobini233@gmail.com>
"@ | Out-File -Encoding utf8 .mailmap